<div class='sideBar'>

    <div class='menuOptions'>

        <div class='chooseLanguages'>
            <div *ngFor='let l of languages'>
                <input class='languageBtn' type='button' name='ENG' (click)='changeLanguage($event)' [value]=l>
            </div>
        </div>

        <a href='#' class='closeBtn' (click)='closeTopBar()'>×</a>
        <button (click)='showMain()' class='sideBtn' type='button'>{{"Home" | language}}</button>
        <button (click)='showAbout()' class='sideBtn' type='button'>{{"About" | language}}</button>
        <button (click)='showProducts()' class='sideBtn' type='button'>{{"Products" | language}}</button>
        <button *ngIf="permission" (click)='showAddForm()' class='sideBtn'
            type='button'>{{"Add Product" | language}}</button>
        <button (click)='showContact()' class='sideBtn' type='button'>{{"Contact" | language}}</button>

    </div>

    <app-social-links>
        <a #ref href='https://he-il.facebook.com/'>
            <img class='menuIcon' src='https://www.arnavutkoy.bel.tr/Files/images/iletisim%20icon/facebook.png'
                alt='facebookIcon' /></a>
        <a #ref href='https://mail.google.com'>
            <img class='menuIcon' src='https://icon-library.net/images/icon-mail/icon-mail-22.jpg' alt='emailIcon' />
        </a>
        <a #ref href='https://twitter.com/home?lang=he'>
            <img class='menuIcon' src='https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-512.png'
                alt='twitterIcon' />
        </a>
    </app-social-links>

</div>