<div class='loginFormWrap'>
    <div class='title'>LOGIN</div>
    <span class='errorMSG' *ngIf='!userFound'>*Username or passward are incorrect, please try again!</span>
    <form [formGroup]='contactForm' class='loginForm'>
        <div class='labelAndInput'>
            <div class='errorAndLabel'>
                <label for="name">USERNAME</label><br>
                <div class='errorMSG' *ngIf="nameForm.errors?.required"> (required)</div>
            </div>
            <input name='name' type='text' formControlName='name' placeholder='enter name..'><br />
        </div>

        <div class='labelAndInput'>
            <div class='errorAndLabel'>
                <label for="passward">PASSWARD</label><br>
                <div class='errorMSG' *ngIf="passwardForm.errors?.required "> (required)</div>
            </div>
            <input name='passward' type='password' formControlName='passward'><br />
        </div>

        <div class='buttons'>
            <input class='btn' type='button' value='BACK' (click)='back($event)'>
            <input class='btn' type='button' [disabled]="!contactForm.valid" value='LOGIN' (click)='resetForm()'>
        </div>

    </form>

</div>