.deatails {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 30px;
    font-size: 18px;
    background-color: #e7edee;
    border-bottom: 2px solid #000;
}

.productDetails {
    padding: 0px 0px 0px 20px;
}

.btn {
    margin: 10px 10px 10px 0px;
    outline: none;
    width: 100px;
    height: 60px;
    border: none;
    font-size: 18px;
    font-family: fantasy;
    text-align: center;
    background-color: #211d57;
    color: #fff;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}

.productImage {
    width: 250px;
    height: 210px;
    border-radius: 3px;
}