<div *ngIf='menuClicked'>
    <app-side-bar (clickHideOnEvent)='updateMenu($event)' (clickCloseMenuEvent)='updateMenu($event)'
        (clickedEvent)='updateMessage($event)'></app-side-bar>
</div>

<div [@open]='status'>
    <app-header (clickOnMenuEvent)=updateMenu($event)></app-header>

    <div class='view'>
        <div [@myState]='OptionStatus' class='textDesign' *ngIf="message=='home' && !showCart">{{home}}</div>
        <div [@myState]='OptionStatus' class='textDesign' *ngIf="message=='about' && !showCart">{{about}}</div>
        <div [@myState]='OptionStatus' *ngIf="message=='products' && !showCart">
            <app-categories-list></app-categories-list>
        </div>
        <div [@myState]='OptionStatus' class='textDesign' *ngIf="message=='contact'&& !showCart">{{contact}}</div>
        <app-cart *ngIf='showCart'></app-cart>

    </div>

</div>