<div class='addEditForm'>
    <div class='title'>ADD/EDIT PRODUCT</div>
    <form [formGroup]='contactForm'>

        <div class='labelAndInput'>
            <div class='errorAndLabel'>
                <label for="category">CATEGORY</label><br>
                <div class='errorMsg'
                    *ngIf="categoryForm.invalid && categoryForm.touched && categoryForm.errors.required"> (required)
                </div>
            </div>
            <select name='category' formControlName='category'>
                <option *ngFor='let category of (categories| async)' [ngValue]="category.id">{{category.title}}</option>
            </select>
        </div>

        <div class='labelAndInput'>
            <div class='errorAndLabel'>
                <label for='image'>IMAGE</label><br>
                <div class='errorMsg' *ngIf='imageForm.invalid && imageForm.touched && imageForm.errors.required'>
                    (required)</div>
            </div>
            <input name='image' type='text' placeholder='Enter image url...' formControlName='image'>
        </div>

        <div class='labelAndInput'>
            <div class='errorAndLabel'>
                <label for='title'>TITLE</label><br>
                <div class='errorMsg' *ngIf='titleForm.invalid && titleForm.touched && titleForm.errors.required'>
                    (required)</div>
            </div>
            <input name='title' type='text' placeholder='Enter title...' formControlName='title'>
        </div>

        <div class='labelAndInput'>
            <span *ngIf='priceForm.invalid && (priceForm.dirty || priceForm.touched)' class=' errorMsg'>price must be
                greater
                then 0</span>
            <div class='errorAndLabel'>
                <label for='price'>PRICE</label><br>
            </div>
            <input name='price' type='number' placeholder='Enter price...' value='Price' formControlName='price'>
        </div>

        <div class='labelAndInput'>
            <label for='description'>DESCRIPTION</label><br>
            <textarea rows='8' cols='50' name='description' placeholder='Enter description...'
                formControlName='description'></textarea>
        </div>

        <div class='buttons'>
            <!-- <input class='btn' type='button' (click)='back()' value='BACK'> -->
            <input [disabled]='!contactForm.valid' class='btn' type='submit' (click)='addEditProduct()' value='SAVE'>
        </div>

    </form>

</div>