.topBar {
    justify-content: space-between;
    height: 60px;
    background-color: #211d57;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuIcon {
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

.cartIcon {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.menuIcon:hover {
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}

.icons {
    right: 0px;
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
}

.cart {
    display: flex;
    flex-flow: row;
    color: #fff;
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.cartAndIcons {
    display: flex;
    flex-flow: row-reverse;
}

.login {
    align-self: center;
}

.btn {
    display: inline-flex;
    margin: 5px 5px 5px 0px;
    outline: none;
    width: auto;
    height: 50px;
    border: none;
    background-color: #211d57;
    color: #fff;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}